POLYGON_RPC_URL="polygon_api"

#For web search use
TAVILY_API_KEY="tavily_api"

ANALYSIS_MODEL="your/model"
LLM_API_KEY="your_api"
LLM_API_BASE_URL="URL"

# DISCORD_WEBHOOK_URL="https://discord.com/api/webhooks/..."
# TELEGRAM_BOT_TOKEN="your_bot_token"
# TELEGRAM_CHAT_ID="your_chat_id"

